{% extends 'base.html' %} 
{% block content %}
<h1>About the Monster Truck Collector</h1>
<hr />
<p class="page-content">
  Hello and welcome to the Monster Truck collector App where you can track your entire collection of monster trucks in one place! 
  <br>
  <br>
  A website for collecting monster trucks seems a bit odd right, let me explain the backstory theres this super cool 3 year old that I know, he’s full of energy and loves play time when It come to his monster trucks! He has over 20 small scale monster truck and counting, and a huge mega rex that he just got for his birthday. Inspired by this little chill dude this website came about!
  <br>
  <br>
  Hope you enjoy it as much as he would!
  <br>
  <br>
  Im a super chill toddler! That gets very excited about all my monster trucks.
</p>
{% endblock %}
