{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Monster Truck Collector</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv0BRahF63Grd3StIeuVTI7T0VFGSsAhqKCw&s" alt="The Monster Truck Logo" id="first-image" />
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrqDmngG-WAcWggrfD9AN7PEHO5zELqXxHoQ&s" alt="Monster truck sign" id="first-image" />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}

        <li><a href="{% url 'truck-index' %}">All Monster Trucks</a></li>
        <li><a href="{% url 'truck-create' %}">Add a Monster Truck</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li>
          <form action="{% url 'logout' %}" id="logout-form" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
